.form-container {
    margin: 0 auto;
    width: 100%;
  }
.form-container {
    text-align: center;
  }
  
body {
    width: 100%;
    margin:0 auto;
  padding: 0;
  box-sizing: border-box;
    background-color:rgb(14, 78, 197);
}
h1{

    font-size: 25px;
    margin-bottom: 20px;
}
form {
    width: 420px;
    background: linear-gradient(to right, #acb6e5, #86fde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'arial';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
button{
    width: 100%;
    background: #098b3b;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 6px;
}

input{
    width: 100%;
    background: #ecf3fa;
    padding: 8px;        //Tamaño de la entrada del texto
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  