<!--menu navegacion con directiva routerLink, class= estilo, -->
<nav class="navbar navbar-expand-lg  bg-body-tertiary">

  <h3>PlayGames</h3>
  <div class="container-fluid">

    <!--directiva routerLinkActive="active-link" = style CSS este se debe definir en CSS-->
    <a routerLink="/populares" routerLinkActive="active-link" class="nav-link">Más populares</a>
    <a routerLink="/descargados" routerLinkActive="active-link" class="nav-link">Más Descargados</a>
    <a routerLink="/proximamente" routerLinkActive="active-link" class="nav-link">Proximamente</a>
    <a routerLink="/agregar" routerLinkActive="active-link" class="nav-link">Agregar</a>
    <a routerLink="/menu" routerLinkActive="active-link" class="nav-link">Menu Principal</a>

    <!--Con estas dos opciones podemos crear la opcion salir pero antes debemos crear un metodo o funcion en el HTML-->
    <a href="#" (click)="onLogoutClick()">Salir</a>
    <!--<button (click)="onLogoutClick()">Salir</button>-->
    
  </div>
</nav>


<div class="container">
  <div class="card">
    <img class="mb-4" src="./../../../assets/gta.png" alt="" width="200" height="200">
    <h2 class="title">Título: GTA V </h2>
    <p class="description">Se trata de una aventura de acción de mundo abierto con multitud de misiones en la que
      encarnamos a tres personajes distintos: Trevor, Michael y Franklin. Además, cuenta con GTA Online, el modo
      multijugador en lína de GTA 5.</p>
    <p class="release-date">Fecha de Lanzamiento: 17/09/2013</p>
    <p class="rating">Rating: 5/5</p>
    <p class="downloads">Downloads: 100,000,000</p>
    <p class="coming-soon">(Proximamente)</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/bo2.png" alt="" width="200" height="200">
    <h2 class="title">Título: BO2 </h2>
    <p class="description">Black Ops II es el primer título de la serie que se establece en un ambiente completamente
      futurista; a diferencia de sus dos antecesores, Modern Warfare 3 y Black Ops, que se establecían en un futuro
      cercano y en la Guerra Fría, respectivamente. La nueva ambientación se ha descrito como una "Guerra Fría del siglo
      XXI"..</p>
    <p class="release-date">Fecha de Lanzamiento: 13/11/2012</p>
    <p class="rating">Rating: 5/5</p>
    <p class="downloads">Downloads: 20,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/gow.webp" alt="" width="200" height="200">
    <h2 class="title">Título: God of War </h2>
    <p class="description">Es el primer juego en estrenarse y el tercero en términos cronológicos internos de la saga.
      El juego narra las aventuras de Kratos, un general espartano al servicio de los Dioses de la mitología griega.</p>
    <p class="release-date">Fecha de Lanzamiento: 13/03/2007</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 1,000,000</p>
    <p class="coming-soon">(Proximamente)</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/halo.jpeg" alt="" width="200px" height="200px">
    <h2 class="title">Título: Halo </h2>
    <p class="description">La serie se centra en una guerra interestelar entre la humanidad y una alianza teocrática de
      alienígenas conocidos como Covenant.</p>
    <p class="release-date">Fecha de Lanzamiento: 15/11/2001</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 80,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>
  <div class="card">
    <img class="mb-4" src="./../../../assets/mario.png" alt="" width="200" height="200">
    <h2 class="title">Título: Mario Bros </h2>
    <p class="description">El juego describe las aventuras de los hermanos Mario y Luigi, personajes que ya
      protagonizaron el arcade Mario Bros. de 1983. En esta ocasión ambos deben rescatar a la Princesa Peach del Reino
      Champiñón que fue secuestrada por el rey de los Koopas, Bowser.</p>
    <p class="release-date">Fecha de Lanzamiento: 13/09/1985</p>
    <p class="rating">Rating: 4/5</p>
    <p class="downloads">Downloads: 900,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/minecraf.png" alt="" width="200" height="200">
    <h2 class="title">Título: Minecraf </h2>
    <p class="description">Minecraft es un videojuego tipo sandbox, su traducción literal sería “caja de arena” y es lo
      que representa la experiencia de juego. Los jugadores pueden modelar el mundo a su gusto, destruir y construir,
      como si estuviesen jugando en una caja de arena.</p>
    <p class="release-date">Fecha de Lanzamiento: 18/11/2011</p>
    <p class="rating">Rating: 5/5</p>
    <p class="downloads">Downloads: 500,000,000</p>
    <p class="coming-soon">(Proximamente)</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/outlas.png" alt="" width="200px" height="200px">
    <h2 class="title">Título: Outlas </h2>
    <p class="description">Se trata de una aventura de terror en primera persona ambientada en el manicomio Mount
      Massive, ubicado en las remotas montañas de Colorado (Estados Unidos). En Outlast encarnamos a Miles Upshur, un
      periodista que se acerca al lugar para investigarlo.</p>
    <p class="release-date">Fecha de Lanzamiento: 15/11/2001</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 50,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/pacman.png" alt="" width="200px" height="200px">
    <h2 class="title">Título: Pacman </h2>
    <p class="description">El juego consiste en conducir a Pac-Man, una bola amarilla que abre y cierra la boca, por un
      laberinto. Suma puntos cuando come aquello que encuentra a su paso, bolitas y diferentes frutas, pero debe
      esquivar a cuatro fantasmas.</p>
    <p class="release-date">Fecha de Lanzamiento: 22/05/1980</p>
    <p class="rating">Rating: 2/5</p>
    <p class="downloads">Downloads: 50,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/roblox.jpeg" alt="" width="200px" height="200px">
    <h2 class="title">Título: Roblox </h2>
    <p class="description">Es algo muy parecido a crear tus mundos y videojuegos con piezas de Lego, y luego puedes
      compartir tus creaciones con otros usuarios. Así, puede tanto dedicarte a jugar a los juegos creados por otros
      como a los tuyos propios.</p>
    <p class="release-date">Fecha de Lanzamiento: 22/05/2006</p>
    <p class="rating">Rating: 4/5</p>
    <p class="downloads">Downloads: 500,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/pvz1.jpg" alt="" width="200px" height="200px">
    <h2 class="title">Título: PvZ </h2>
    <p class="description">Lucha contra una variedad enorme de zombis en cada esquina, como Zombi propulsado y Zombidito
      sirena. ¡Incluso tendrás que proteger tu cerebro de las arrolladoras Gallinas zombi! Gana paquetes de semillas
      mientras juegas y úsalas para alimentar tus plantas poderosas.</p>
    <p class="release-date">Fecha de Lanzamiento: 05/05/2009</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 400,000,000</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/tom.jpg" alt="" width="200px" height="200px">
    <h2 class="title">Título: Tomb Raider </h2>
    <p class="description">Tomb Raider es una aventura de acción aclamada por la crítica que explora los orígenes de
      Lara Croft y su transformación, de joven inexperta a dura superviviente. Con su instinto como arma, Lara debe
      luchar para huir de una isla remota y descubrir su oscura historia.</p>
    <p class="release-date">Fecha de Lanzamiento: 05/03/2013</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 400,000,000</p>
    <p class="coming-soon">(Proximamente)</p>
    <button type="submit">Agregar al Carrito</button>
  </div>

  <div class="card">
    <img class="mb-4" src="./../../../assets/ctr.jpg" alt="" width="200px" height="200px">
    <h2 class="title">Título: Crash Team Racing </h2>
    <p class="description">Crash Team Racing Nitro-Fueled es un juego de conducción y velocidad humorístico y
      desenfadado, cartoon y completamente alocado, al estilo de juegos como Mario Kart o Diddy Kong Racing.</p>
    <p class="release-date">Fecha de Lanzamiento: 16/12/1999</p>
    <p class="rating">Rating: 3/5</p>
    <p class="downloads">Downloads: 300,000,000</p>
    <p class="coming-soon">(Proximamente)</p>
    <button type="submit">Agregar al Carrito</button>
  </div>
</div>
